
  .cards-container {
    
    display: grid;
    justify-content: center;
    min-width: 30vw;
    
    grid-template-areas:
        "title title title title"
        "btn1 btn2 btn3 figure"
        "btn4 btn5 btn6 figure"
        "btn7 btn8 btn9 figure";
}
    
  

  .name-title {
      grid-area: title;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;
  }
  .card-btn{
  background-size: $card-width $card-height;
  background-color: $white;
  min-width: 6rem;
  height: 9rem;
  margin: 2px;
  border: none;
  border-radius: 5px;
}
  .figure{
    background-color: $white;
    border: none;
    border-radius: 5px;
    width: 10rem;
    margin: 2PX;
    height: 27.6rem;
    background-size: 10rem 27.6rem;
}
    
  
  

  
  .btn1 {grid-area: btn1;
    background-image: url("./img/ace_of_spades.png");
    
  }
  .btn2 {grid-area: btn2;
    background-image: url("./img/2_of_spades.png");
  }
  .btn3 {grid-area: btn3;
    background-image: url("./img/3_of_spades.png");
  }
  .btn4 {grid-area: btn4;
    background-image: url("./img/4_of_spades.png");
  }
  .btn5 {grid-area: btn5;
    background-image: url("./img/5_of_spades.png");
  }
  .btn6 {grid-area: btn6;
    background-image: url("./img/6_of_spades.png");
  }
  .btn7 {grid-area: btn7;
    background-image: url("./img/7_of_spades.png");
  }
  .btn8 {grid-area: btn8;
    background-image: url("./img/8_of_spades.png");
  }
  .btn9 {grid-area: btn9;
    background-image: url("./img/9_of_spades.png");
  }
  .figure {grid-area: figure;
    background-image: url("./img/jack_of_spades.png");
  }