#header {
    background-color: $dark-mode-second;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 4vh;
    color: $white;
    justify-content: center;
    align-items: center;
    
    
}
