@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
*{
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding:0;
    background-color: #0B191E;


}
$card-width: 4rem;
$card-height: 7rem;
$white : #FFFFFF;